html,body { 

min-height: 100%;
background-color: #444;


border: 8px solid blue;


/*
  width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    border: 8px solid blue;
    
    overflow:hidden;
    display:block;
    box-sizing: border-box;
	*/
}
