<!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet" href="index.css">
</head>



<body>
<header>
<a href="https://github.com/kelfink/collapseList/blob/main/simpleList.html">Source</a>
<a href="https://github.com/Doenut999/list-item-underline-animation/blob/master/index.html">Source2</a>


</header>
<div class="hor">
<div class="box">main

<div class="vertical-scrollable">test</div>
<div class="vertical-scrollable">test2</div>
</div>
<div class="transfer">transferBar</div>
<div class="box">main</div>
</div>
<footer>footer</footer>
</body>
<html>