table tr td {
    padding: 10px;
    border: 1px solid #444;
}
td.space {
    padding:10px;
    border: 0;
}
td.space::before {
    position: absolute;
    margin-left: -12px;
    height: 1px;
    width: 25px;
    background-color: #444;
    content: ' ';
}