div{text-align:left;direction:ltr;}
.searchfield{margin:10px 20px 0 0;}
label {
    text-shadow: 2px 2px 2px #ccc;
    display: block;
    float: left;
    margin-left:4px;
    text-align: left;
    line-height: 22px;
    width: 100px;
    text-align: left;
    }

input.input {
    outline:none;
    border:1px solid rgba(0,0,0, 0.2);
    width:135px; height:20px; background-color:#fafafa; font-size:11px;
}