<!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet" href="index.css">
</head>



<body>
<a href="https://jsfiddle.net/ynnvddLk/">Source</a>
<div id="app">
  <div class="vd-grid-left-col">
    <div class="main">
      main
    </div>
    <div class="vd-grid-sub-box">
      sub
    </div>
    <div class="vd-grid-sub-box">
      sub
    </div>
    <div class="vd-grid-sub-box">
      sub
    </div>
  </div>
  <div class="vd-grid-right-col">
    <div class="feature">
      feature
    </div>
    <div class="feature">
      feature
    </div>
  </div>
 
</div>
</body>
<html>