<!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet" href="index.css">
</head>



<body>
<div class="main-container">
    <div class="left-container">Left container</div>
    <div class="right-container">
        <div class="half-containers">
          Top right<br>
          Top right<br>
          Top right<br>
          Top right<br>
          Top right<br>
          Top right<br>
          Top right<br>
          Top right<br>
         </div>
        <div class="half-containers">Bottom right</div>
    </div>
</div>
</body>
<html>