* {
  box-sizing: border-box;
 
}

html,
body,
.page {
  height: 100%;
  margin: 0;
}
.page2 {
 
  margin: 0;
}
/*.topbar {*/
.left {
	
	 grid-area: left;
	 
	 
	  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  
  
   display: grid;
   
   
    grid-template-areas: "leftSearch leftSearch leftSearch" "leftScroll leftScroll leftScroll" "leftList leftList leftList" "leftPaginator leftPaginator leftPaginator" ;   
	grid-template-rows:  6% 1% 82% 11%;
  
}


/*.sidebar {*/
	.transfer {
  grid-area: transfer;
  overflow-y: auto;
  background-color: yellow;
}

/*.content {*/
	.right {
  grid-area: right;
 
  background-color: lightblue;
}

.footer {
  grid-area: footer;
  background-color: pink;
}



.left-scroll{
	grid-area: leftScroll;
	background-color: black;	 
	grid-column: 1 / 4; 
	flex:auto;
}

.left-search{
	grid-area: leftSearch;
	  background-color: green;
}

.left-page-wrapper{
	height: 100%;
	grid-area: leftList;
	display: flex;
	grid-column: 1 / 4; 
	background-color: red;
}

.left-list{
	display: flex;
	flex:auto;
	background-color: lightblue;
}
 
.contentsub {
	flex-grow: 1;
	margin: 1rem;
	overflow-y: scroll;
	background-color: orange;
} 
 
 
.paginator-wrapper{
	grid-area: leftPaginator;
	display: flex;
	background-color: blue;
}



.paginator {
	display: grid;
	grid-template-areas: "actions" "statusbar" ;	
	flex:auto;
}


.paginator-actions{
	grid-area: actions;		
	background-color: #f5ef42;
	display:flex;
}
.paginator-status{
	grid-area: statusbar;
	
	background-color: #72f542;
}
.scroll {
   display: flex;

    height: 4px;
    background-color: lightgray;
}

.button1{
	width:20%;
	//flex:auto;
}
/*input{
	width:20%;
}
*/
#scroll-progress {


    height: 4px;
    background-color: black;
}


@media (min-width: 30rem) {
  .page {
    display: grid;
    grid-template-areas: "left transfer right";
   

	grid-template-columns: 45% 10% 45%;
  }
   /*.left {
	
    display: grid;
    grid-template-areas: "leftSearch leftSearch leftSearch" "leftScroll leftScroll leftScroll" "leftList leftList leftList" "leftPaginator leftPaginator leftPaginator" ;
  
   
	grid-template-rows:  6% 1% 82% 11%;
  }*/
 
}

