<!DOCTYPE html>
<html>
<head>

 <link rel="stylesheet" href="index.css">
</head>



<body>
<header>
<a href="https://jsfiddle.net/ynnvddLk/">Source</a>
<a href="https://stackoverflow.com/questions/42195456/flexbox-inside-another-flexbox">Source2</a>
</header>
<div id="app">
 <div class="box">
   <div id="wrapper2">
    <div id="footer2">       
       search box
      </div>
      <div id="body2">left panel
	  
	
	  
	  
	  </div>
	  <div id="footer2">       
      buttons and text box
      </div>
      <div id="footer2">       
      status bar
      </div>
    </div>
	</div>
 <div class="box">transfer bar</div>
 <div class="box">right panel</div>
</div>
<div class="footer">main footer</div>
</body>
<html>